@import "tailwindcss";

@theme {
  --color-txtcolor: #030A02;
  --color-bgcolor: #FFFFFF;

  --color-primary: #F89B22;

  --color-success: #2A6431;
  --color-error: #853417;
}

body {
  @apply bg-primary text-txtcolor;
}